<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册页面</title>
</head>
<body>
	<form action="{{ url_for('web.register') }}" method="POST">
		昵称：<input type="text" name="nickname"/><br>
		邮箱：<input type="text" name="email"/><br> 
		密码：<input type="text" name="password"/><br>
		<input type="submit" value="注册" />
		<a href="{{ url_for('web.login') }}">已有帐号，登录</a>
	</form>
</body>
</html>















































































